body {
    background-color: black;
    margin-top: 15%;
}

progress {
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#data {
    color: white;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressBar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#currentTime {
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: white;
    margin-top: 10rem;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 600px) {
    body {
        margin-top: 60%;
    }
}